@import "style.scss";

@media screen and (max-width: 1100px) {
  header .container .col-3 {
    order: 1;
    width: 50%;
  }
  header .container .col-6 {
    width: 50%;
  }
  .menu__wrap {
    display: none;
  }
  .menu__burger {
    display: block;
    position: fixed;
  }
  .menu.active .menu__wrap {
    display: block;
  }
  .menu__list {
    flex-direction: column;
    top: 25px;
    position: absolute;
  }
  .menu__link:hover .menu__list__sub {
    background-color: $baseColorMenuGreen;
  }
  .menu__link__sub:hover .menu__list__sub-sub {
    background-color: $baseColorMenuGrey;
  }

}

@media screen and (max-width: 760px) {
  .carousel__text-para:last-child {
    height: 35px;
}
  .carousel__text-sale {
    font-size: 40px;
  }
  .carousel__text-item {
    font-size: 20px;
    font-family: $fontBold;
    line-height: 35px;
  }
  .carousel__text-para {
    font-size: 17px;
    line-height: 25px;
  }


  .carousel__footer {
    top: 100%;
  }
  .carousel__footer-title {
    font-size: 20px;
    line-height: 60px;
  }
  .carousel__footer-descr {
    line-height: 26px;
  }
}

@media screen and (max-width: 670px) {
  .container {
    flex-wrap: wrap;
  }
  header .container .col-6 {
    order: 3;
  }
  header .container .col-3 {
    width: 100%;
  }
  .logo {
    padding-bottom: 10px;
  }
  .logo__text {
    left: 0;
  }
  .menu__list__sub-sub {
    left: 0;
  }
  .contacts {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .contacts__text {
    font-size: 12px;
    padding-right: 5px;
}
  .contacts__phone {
    font-size: 13px;
    line-height: 18px;
}

}
